<!doctype html>
<html lang="{{ app()->getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laravel</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style>
        #username:hover {
            background: transparent;
        }

        .btn-primary, .btn-primary:hover {
            background-color: #736EFE;
            border-color: #736EFE;
        }
    </style>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-inverse" style="background: #736EFE">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <h1 class="navbar-brand mb-0">SIGNOLINGO</h1>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            </ul>
            <h1 class="navbar-brand my-2 my-lg-0">
                USUÁRIO
            </h1>
        </div>
    </nav>
</div>
<br>
<br>
<div class="container">
    <h1 style="text-align: center; color: #736EFE;">Alfabeto</h1>
    <br><br>
    <div id="pergunta" class="row">
        <div class="col-xs-12 col-md-6 offset-md-3 card text-center" v-for="(pergunta, indice) in perguntas">
            <div v-show="indice === indice_pergunta">
                <img class="card-img-top" v-bind:src="pergunta.imagem" alt="Card image cap" style="height: 100px; width: auto;">
                <div class="card-block">
                    <p class="card-text">
                        <button  v-for="alternativa in pergunta.alternativas" class="btn btn-primary" v-on:click="checarResposta(alternativa)">{{ alternativa }}</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>

<script>

    var image = new Vue({
        el: "#pergunta",
        data: {
            indice_pergunta: Math.floor(Math.random() * 10),
            perguntas_respondidas: 1,
            perguntas: [
                {imagem: "assets/images/alfabeto/a.png", resposta: "a", respondida: false, alternativas: ["a", "g", "t", "n"]},
                {imagem: "assets/images/alfabeto/b.png", resposta: "b", respondida: false, alternativas: ["o", "b", "h", "u"]},
                {imagem: "assets/images/alfabeto/c.png", resposta: "c", respondida: false, alternativas: ["v", "p", "c", "i"]},
                {imagem: "assets/images/alfabeto/d.png", resposta: "d", respondida: false, alternativas: ["j", "w", "q", "d"]},
                {imagem: "assets/images/alfabeto/e.png", resposta: "e", respondida: false, alternativas: ["e", "k", "x", "r"]},
                {imagem: "assets/images/alfabeto/f.png", resposta: "f", respondida: false, alternativas: ["s", "f", "l", "y"]},
                {imagem: "assets/images/alfabeto/g.png", resposta: "g", respondida: false, alternativas: ["z", "t", "g", "m"]},
                {imagem: "assets/images/alfabeto/h.png", resposta: "h", respondida: false, alternativas: ["n", "a", "u", "h"]},
                {imagem: "assets/images/alfabeto/i.png", resposta: "i", respondida: false, alternativas: ["i", "o", "b", "v"]},
                {imagem: "assets/images/alfabeto/j.png", resposta: "j", respondida: false, alternativas: ["w", "j", "p", "c"]},
                {imagem: "assets/images/alfabeto/k.png", resposta: "k", respondida: false, alternativas: ["d", "x", "k", "q"]},
                {imagem: "assets/images/alfabeto/l.png", resposta: "l", respondida: false, alternativas: ["r", "e", "y", "l"]},
                {imagem: "assets/images/alfabeto/m.png", resposta: "m", respondida: false, alternativas: ["m", "s", "f", "z"]},
                {imagem: "assets/images/alfabeto/n.png", resposta: "n", respondida: false, alternativas: ["a", "n", "t", "g"]},
                {imagem: "assets/images/alfabeto/o.png", resposta: "o", respondida: false, alternativas: ["h", "u", "o", "b"]},
                {imagem: "assets/images/alfabeto/p.png", resposta: "p", respondida: false, alternativas: ["c", "i", "v", "p"]},
                {imagem: "assets/images/alfabeto/q.png", resposta: "q", respondida: false, alternativas: ["q", "d", "j", "w"]},
                {imagem: "assets/images/alfabeto/r.png", resposta: "r", respondida: false, alternativas: ["x", "r", "e", "k"]},
                {imagem: "assets/images/alfabeto/s.png", resposta: "s", respondida: false, alternativas: ["l", "y", "s", "f"]},
                {imagem: "assets/images/alfabeto/t.png", resposta: "t", respondida: false, alternativas: ["g", "m", "z", "t"]},
                {imagem: "assets/images/alfabeto/u.png", resposta: "u", respondida: false, alternativas: ["u", "h", "n", "a"]},
                {imagem: "assets/images/alfabeto/v.png", resposta: "v", respondida: false, alternativas: ["b", "v", "i", "o"]},
                {imagem: "assets/images/alfabeto/w.png", resposta: "w", respondida: false, alternativas: ["p", "c", "w", "j"]},
                {imagem: "assets/images/alfabeto/x.png", resposta: "x", respondida: false, alternativas: ["k", "q", "d", "x"]},
                {imagem: "assets/images/alfabeto/y.png", resposta: "y", respondida: false, alternativas: ["y", "l", "r", "e"]},
                {imagem: "assets/images/alfabeto/z.png", resposta: "z", respondida: false, alternativas: ["f", "z", "m", "s"]}
            ]
        },
        methods: {
            proxima: function () {
                if (this.perguntas_respondidas === 26) {
                    alert("Parabéns, você terminou a lição");
                    window.location.href = "index.html";

                } else {
                    this.perguntas[this.indice_pergunta].respondida = true;
                    this.perguntas_respondidas ++;
                    var encontrou = false;
                    while (!encontrou) {
                        var indice = Math.floor(Math.random() * 10);
                        if (!this.perguntas[indice].respondida) {
                            this.indice_pergunta = indice;
                            encontrou = true;
                        }
                    }
                }
            },
            checarResposta: function (resposta_marcada) {
                if (this.perguntas[this.indice_pergunta].resposta === resposta_marcada) {
                    alert("Alternativa correta.");
                } else {
                    alert("Alternativa incorreta.");
                }
                this.proxima();
            }
        }
    });

</script>
</body>
</html>